.main{
    width: 50%;
    margin: auto;
    background-color: rgb(255, 242, 234);
   border-radius: 10px;
  padding: 25px;
   
    margin-top: 30px;
}
.main ul{
    font-size: large;
    margin-top: 20px;
}

.main textarea{
    width: 97%;
    padding: 10px;
    font-size: 1.3rem;
    outline: none;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.btns{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    
}
.submitBtn{
    padding: 8px;
   
    background-color: rgb(115, 115, 255);
    border: none;
   font-size: 1rem;
    border-radius: 8px;
  color: white;

  
}
.submitBtn:hover{
    background-color: blue;
}

@media screen and (max-width: 768px) {
    .main{
        width: 100%;
        padding: 0px;
        padding-top: 40px;
        margin-top: 0px;
    }
    .main textarea{
        width: 90%;
        display: block;
        margin: auto;
        padding: 2px;
        font-size: 1.1rem;
        outline: none;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    }
    .btns{
        display: flex;
        gap: 10px;
        width: 90%;
        margin: auto;
        margin-top: 10px;
        
    }
}